* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Dev";
	src: url('LangscapeDevPoojaNormal.ttf') format('truetype');
}

body {
	background: #ccc;
	padding: 50px 0;
	font-family: "Dev";
	color: #fff;
	font-weight: lighter;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.front {
    display: none /*table*/;
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    color: #000;
    max-width: 300px;
}

.inner img {
	max-width: 300px;
	height: auto;
	border-radius: 50%;
}

#wrapper {
	width: 1000px;
	background: #ccc;
	margin: 0 auto;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.left {
	width: 25%;
}

.right {
	width: 75%;
}

.row1 {
	height: 250px;
}

.row1 .left {
	background: #ff641a;
}

.row .left img {
	max-width: 80%;
	margin: 10%;
	height: auto;
	border-radius: 50%;
}

.row1 .right {
	background: #d0201a;
}

.row h1, h2, h3, ul {
	margin: 0 15px;
	font-weight: lighter;
}

.row1 h1 {
	font-size: 54px;
	margin-top: 10px;
	letter-spacing: -2px;
}

.row1 h2 {
	font-size: 30px;
	margin-top: -15px;
}

.row h2 img {
	max-height: 25px;
}

.row1 h3 {
	margin-top: 0px;
	font-size: 23px;
}

.row1 h3 img {
	max-height: 20px;
	width: auto;
}

.row1 .contact {
	margin-top: 10px;
	font-size: 16px;
	list-style: none;
}

.row1 .contact li {
	display: inline-block;
	margin-right: 15px;
}

.row .contact img {
	max-height: 16px;
	width: auto;
}

.row2 {
	height: 700px;
}

.row2 .left {
	background: #0178b0;
}

.row2 .right {
	background: #fff;
}